<html>
<head>
    <meta charset="utf-8" />
    <title>Cartographie thématique et analyse spatiale</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://cdn.rawgit.com/tannerjt/classybrew/b8ca77d5a6b7eef5586f5148c36ee937aa1bacfb/build/classybrew.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="maillage">26 cantons suisses</div>
    <h1>Grandes entreprises versus petites entreprises</h1>
    <div id="mapdiv"></div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>